@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --background-color: #040420;
    --cor-primaria: #FFFFFF;
    --cor-secundaria: #FFA032;
    --cor-terciaria: #15162E;
    --cor-hover: #FFA032;;
    --font-primaria: 'Inter', sans-serif;
    --font-secundaria: 'Inter', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--cor-primaria);
}

.cabecalho {
    padding: 2% 15%;
}
.cabecalho__menu__link {
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-secundaria);
    text-decoration: none;
}


.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--font-primaria);
}

.titulo-destaque{
    color: var(--cor-secundaria);
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--font-secundaria)
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apresentacao__links__subtitulo{
    font-family: var(--font-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}
.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-secundaria);
    width: 60%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-primaria);
    font-family: var(--font-secundaria);
}
.apresentacao__links__navegacao:hover{
    background-color: var(--cor-hover);
}

.apresentacao__imagem{
    width: 38%;
    border-radius: 30px;
    border: 4px solid var(--cor-secundaria); /* Adiciona uma borda colorida com a cor secundária */
}
.apresentacao__links img {
    width: 30px; /* Ajuste a largura conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    margin-right: 4px; /* Espaço entre a imagem e o texto */
}
 

.rodape {
    color: var(--background-color);
    background-color: var(--cor-secundaria);
    padding: 1.5rem;
    text-align: center; 
    font-family: var(--font-secundaria);
    font-size: 24px;
    font-weight: 400;

}
.principal{
    padding: 8% 15%;
    display: flex;
}
.eu{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: var(--font-secundaria);
}
.eu__nome{
    background-color: var(--cor-secundaria);
    font-size: 24px;
    font-weight: 900;
}

.conteudo__curriculo{
    font-family: var(--font-secundaria);
    display: flex;
    flex-direction: column;
    gap: 20px;
    

}
.conteudo__curriculo__titulos{
    background-color: var(--cor-secundaria);
    
}
.conteudo__curriculo__conteudo__mkt__titulo{
    background-color: var(--cor-secundaria);
    font-size: 20px;
}
.conteudo__curriculo__conteudo__mkt__data{
    font-style: italic;
    
}
.conteudo__curriculo__conteudo__mkt__conteudo{
    margin-top: 15px;
}

@media (max-width: 900px){
    .cabecalho{
        padding: 10%;
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
    
}